@{
    ViewBag.Title = Libraries.Properties.Resources.ApplicationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>
            @Libraries.Properties.Resources.ApplicationTitle
        </h1>
    </div>
</div>
<br>
<hr>
<div class="row">

    <div class="col-md-6">
        @{ Html.RenderPartial( "_SignInPartial" ); }
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial( "_RegisterPartial" ); }
    </div>
</div>
<hr>
<br>


<script type="text/javascript">

    $(document).ready(function() {

        $("div.navbar.navbar-inverse.navbar-fixed-top").hide();

    });
</script>