<!DOCTYPE html>
<html>
<head>
    <title>Sign Out</title>
</head>
<body>
<br>
<br>
<h1>
    You are now signed out.
</h1>                   
<a href="../" id="back-to-login">Back to Login?</a>   
</body>
</html>
