@model HtmlClient.Models.HomeViewModel

@{
    ViewBag.Title = HtmlClient.Properties.Resources.ApplicationTitle;
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>
            @HtmlClient.Properties.Resources.ApplicationTitle
        </h1>
        <hr>
    </div>
</div>

@{ Html.RenderPartial( "_Transaction" ); }

