<!-- ko with: home -->
<div class="jumbotron">
  <h1>ASP.NET</h1>
  <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
  <p>
    <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
  </p>
</div>
<div class="row">
  <div class="col-md-10">
    <h2>Your information</h2>
    <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
    <p data-bind="text: myHometown"></p>

    <p>
      <button id="test" class="btn btn-default">Test This</button>
    </p>
  </div>
  <div class="col-md-2">
    <h2>Display Endpoint Result</h2>
    <div id="result"></div>

  </div>


</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">


  $(document).ready(function() {

    var url = "@Url.Action( "Echo", "Home" )";

    $("#test").click(function() {


      var request = $.ajax({
        async: true,
        type: "GET",
        dataType: "JSON",
        url: url,
        data: "nate is cool"
      });

      request.done((result) => {


        var message = result;
        alert(message);
        $("#result").text(message);
        if (result.status === 200) {

        }

      });

    });


  });

</script>

<!-- /ko -->
