<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Bank Ledger</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Styles/Site.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>        
    <script src="~/Scripts/AjaxAntiForgeryHelper.js"></script>
</head>

@{
    var userId = Session["UserId"] ?? "Unknown";
    var guid = Session["SessionGuid"] ?? "Uknown";
}

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav">
                <li class="navbar-link">
                    <a id="user-email"> User: @userId </a>
                </li>
                <li class="navbar-link">@Html.ActionLink( " Sign Out", "SignOut", "Login" )</li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()              
    @Html.AntiForgeryToken()
</div>

</body>
</html>