@model Libraries.Models.UserViewModel


<form id="user-register">
    <h2>
        Create Account:
    </h2>
    <label for="register-email" class="sr-only">Email address</label>
    <input type="email" name="Email" id="register-email" class="form-control" placeholder="Email address" required autofocus>
    <label for="register-password" class="sr-only">Password</label>
    <input type="password" name="Password" id="register-password" class="form-control" placeholder="Password" required>
    <div id="registration-validation" class="validation-text"></div>
    <button id="submit-register" class="btn btn-lg btn-primary" type="submit">Register &nbsp;</button>
</form>


<div id="register-validation" class="validation-text"></div>

<script>

    $(document).ready(function() {

        $("#user-register").on("submit",
            function(e) {
                e.preventDefault();

                $("#debug1").blur();

                var data = {
                    Email: $("#register-email").val(),
                    Password: $("#register-password").val()
                }

                $("#progress-spinner").show();
                var jqxhr = $.ajax({
                    dataType: "JSON",
                    beforeSend: function() {
                        $("#register-validation")
                            .css({ "display": "none" })
                            .text("");
                    },
                    type: "POST",
                    url: "@Url.Action( "Register", "Register" )",
                    data: data
                });

                var _jqxhr = jqxhr;
                jqxhr.always( function() {

                    if (_jqxhr.status === 200) {
                        $("#sign-in-password").val(data.Password);
                        $("#sign-in-email").val(data.Email);
                        $("#submit-sign-in").click();
                    }

                    $("#register-validation")
                        .css({ "display": "block" })
                        .text(_jqxhr.responseJSON.toString());
                });


            });


        $("#debug2").click(function() {

            $("#sign-in-email")
                .focus()
                .val("n@n.com");
            $("#sign-in-password")
                .focus()
                .val("1234");
            $("#submit-sign-in").focus();

        });
        $("#progress-spinner").hide();
        $("#debug1").focus();
    });


</script>