@model Libraries.Models.UserViewModel


@using( Html.BeginForm( "ValidateSignIn", "Login", new { @id = string.Empty }, FormMethod.Post, new { @id = "user-signin" } ) )
{
        <h2>User Login:</h2>
        <label for="sign-in-email" class="sr-only">Email address</label>
        <input type="email" name="Email" id="sign-in-email" class="form-control" placeholder="Email address" required autofocus>
        <label for="sign-in-password" class="sr-only">Password</label>
        <input type="password" name="Password" id="sign-in-password" class="form-control" placeholder="Password" required>
        <button id="submit-sign-in" class="btn btn-lg btn-primary" type="submit">Log in</button>
}                         
<br>
<br>
@if( TempData["LoginMessage"] != null )
{
    <div id="signin-validation" class="validation-text">
        @TempData["LoginMessage"].ToString()
    </div>
}